.c-background {
    width: 100%;
    height: 100%;
}

.ant-modal-content {
    width: 330px;
    margin-left: 85px;
}

.create-container {
    flex-direction: column;
    padding: 10px 0;
}

.create-container > Input {
    width: 85%;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    margin-top: 3px;
}

.create-container > Button {
    margin-top: 18px;
    background-color: var(--highlight-ops-color);
    border-color:  transparent;
    color: var(--light-text-color);
    width: 35%;
    height: 35px;
    font-size: 1.15em;
    font-weight: 500;
}

.create-container > Button:hover, .create-container > Button:focus {
    background-color: var(--highlight-ops-color);
    border-color:  transparent;
    color: var(--light-text-color);
    opacity: 0.8;
}